spring.datasource.url=jdbc:postgresql://localhost:5432/mobileshop_db
spring.datasource.username=postgres
spring.datasource.password=YOUR_PASSWORD_HERE
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

server.port=8080
spring.application.name=mobileshop-backend

spring.autoconfigure.exclude=org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration

# Razorpay
razorpay.key.id=YOUR_KEY_ID_HERE
razorpay.key.secret=YOUR_KEY_SECRET_HERE